{
  "presets": ["@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-syntax-dynamic-import",
    [
      "module-resolver",
      {
        "root": ".",
        "alias": {
          "components": "./src/components",
          "hooks": "./src/hooks",
          "store": "./src/store",
          "scss": "./src/scss",
          "icons": "./src/icons",
          "helpers": "./src/helpers",
          "widgets": "./src/widgets"
        }
      }
    ]
  ]
}
