html,
body {
  height: 100%;
  overflow-y: hidden;
}
.rrbe {
  display: flex;
  flex-direction: row;
  height: 100vh;
  &__left {
    flex-basis: 30%;
    max-width: 400px;
    color: #ffffff;
    background-color: #333333;
    &-container {
      height: 100vh;
      padding: 20px;
      overflow: auto;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .accordion {
      border-radius: 0.25rem;
      .card {
        border: 0;
        &-header {
          padding: 0.5rem 1.25rem;
          color: #333333;
          cursor: pointer;
        }
        &-body {
          color: #333333;
        }
      }
    }
  }
  &__right {
    width: 100%;
    &-top {
      position: fixed;
      top: 0;
      right: 0;
      height: 60px;
      background-color: #414141;
      padding: 15px;
      display: flex;
      justify-content: space-between;
      z-index: 999;
    }
    &-container {
      overflow: auto;
      height: 100vh;
    }
  }
  &__section {
    &:hover {
      background-color: #fafafa;
    }
  }
  &__column {
    &:hover {
      background-color: rgba(238, 238, 238, 0.5);
    }
  }
}
