.widgets {
  padding: 5px 15px;
  &__item {
    margin: 5px;
    svg {
      max-width: 40px;
      max-height: 40px;
    }
    &.isDragging {
      opacity: 0.4;
    }
  }
}
.switch.btn {
  width: 100%;
}
